<!DOCTYPE html>
<html>
<h1>About</h1>
Hello! Welcome to my website! This is my E-Commerce store. Here, I sell T-Shirts printed with pictures and designs that I made. Shop around, hopefully you'll find something you like! 
</html>

