<h1>Report Menu</h1>
<p>Here are all the available reports:</p>

<p><%= link_to "Customer Listing", report_custlist_path %></p>
<p><%= link_to "Product Listing", report_prodlist_path %></p>
<p><%=link_to "Sale Listing", report_salelist_path %></p>
